body {
    color: white;
    background-color: #df2028;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    font-size: 25px;
}

A {
    color: white;
    text-decoration: none;
    

}

img {
    width: 350px;
    height: 450px;
    border: 3px solid black;
}

.center {
    text-align: center;
}

.center2 {
    text-align: center;
    
    
}

.center3 {
    text-align: center;
    padding: 30px 50px;
}


.container {
    padding: 0px 50px;
}

.inicio {
    padding: 30px 50px;
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

